


/*
    background:linear-gradient(rgba(255,255,0,0.5),
    rgba(255,255,0,0.5)) 
    url("https://images.unsplash.com/photo-1503455637927-730bce8583c0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8dG9kbyUyMGFwcCUyMGJhY2tncm91bmR8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60");
    background-size: cover;
    */

    .register{
        height: calc(100vh-50px);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .registerTitle{
        font-size: 50px;
    }
    .registerForm{
        margin-top: 20px;
        display: flex;
        flex-direction: column;
    
    }
    .registerForm > label{
    margin: 10px 0;
    }
     
    .registerInput{
        padding: 10px;
        background-color: rgb(248, 241, 241);
        border: none;
    
    }
    .registerButton{
        margin-top: 20px;
        cursor: pointer;
        background-color: teal;
        border: none;
        color: white;
        border-radius: 10px;
        padding: 10px;
    }
    .registerLoginButton{
        position: absolute;
        top:60px;
        right:20px;
        background-color: lightcoral;
        color: antiquewhite;
        border:none;
        cursor: pointer;
        padding: 10px;
        border-radius: 10px;
    }
    